* {
    box-sizing: border-box;
}

.border {
    border-bottom: 2px solid #000;
}

.heade {
    background: #fff;
    padding: 72px 0;
}

.ser-head {
    margin: 0 auto;
}

section:nth-child(1) {
    background: #fff;
}

section:nth-child(2) {
    background: #F4F4F4;
}

.ser-head h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #000000;    
}

.ser-head p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.slist {
    width: 830px;
    margin: 0px auto;
    padding: 80px 0 ;
}

.slist-ul {
    width: 830px;
    margin: 0px auto;
    padding: 32px;
} 

.slist-item {
    margin-bottom: 64px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background: #fff;
    padding: 32px;
    display: flex;
    align-items: flex-start;
}

.slist-img {
    margin-right: 40px;
    width:200px;
    height:128px;
}

.box-right {
    width: 600px;
}

.box-right h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.box-right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.blue-dot {
    transform: translateX(-35px);
    list-style-type: none;
    margin-bottom: 16px;
}

.blue-dot li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;    
}

.blue-dot span::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #00BAFC;
    display: block;
    background: #00BAFC;
    border-radius: 12px;
    margin-right: 5px;
}


.r1 {
    transform: translateX(1px);
}
.r2 {
    transform: translateX(5px);
}
.r3 {
    transform: translateX(29px);
}
.r4 {
    transform: translateX(29px);
}
.r5 {
    transform: translateX(37px);
}